
.icon-coding {
	background-image: url('png/coding.png');
	background-repeat: no-repeat;
}

.icon-happy {
	background-image: url('png/happy.png');
	background-repeat: no-repeat;
}

.icon-graphic-design {
	background-image: url('png/graphic-design.png');
	background-repeat: no-repeat;
}

.icon-efficient {
	background-image: url('png/efficient.png');
	background-repeat: no-repeat;
}

.icon-photoshop-magic {
	background-image: url('png/photoshop-magic.png');
	background-repeat: no-repeat;
}

.icon-perfection {
	background-image: url('png/perfection.png');
	background-repeat: no-repeat;
}

.icon-market {
	background-image: url('png/market.png');
	background-repeat: no-repeat;
}

.icon-billboard {
	background-image: url('png/billboard.png');
	background-repeat: no-repeat;
}

.icon-best {
	background-image: url('png/best.png');
	background-repeat: no-repeat;
}

.icon-web-developer {
	background-image: url('png/web-developer.png');
	background-repeat: no-repeat;
}

.icon-ui {
	background-image: url('png/ui.png');
	background-repeat: no-repeat;
}

.icon-print {
	background-image: url('png/print.png');
	background-repeat: no-repeat;
}

.icon-marketing {
	background-image: url('png/marketing.png');
	background-repeat: no-repeat;
}

.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

.icon-art-director {
	background-image: url('png/art-director.png');
	background-repeat: no-repeat;
}

.icon-creative-director {
	background-image: url('png/creative-director.png');
	background-repeat: no-repeat;
}

.icon-freelance-designer {
	background-image: url('png/freelance-designer.png');
	background-repeat: no-repeat;
}